<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div style="position: relative;">
        <img #imageRef src="./../assets/canvas_bg.png" (load)="onImageLoad()" alt="Your Image" width="1060" height="946">
        <canvas #canvasRef style="position: absolute; top: 0; left: 0;"></canvas>
      </div>
    </div>
    <div class="col-md-4 metrics-container">
        <h5 class="metrics-label">Average Speed</h5>
        <h3 class="metrics-value">{{averageSpeedKmph}} km/h</h3>

        <h5 class="metrics-label">Average Acceleration</h5>
        <h3 class="metrics-value">{{averageAcceleration}} m/s<sup>2</sup></h3>

        <h5 class="metrics-label">Average Time Spent In Traffic</h5>
        <h3 class="metrics-value">{{averageTimeSpentInTrafficMin}} min {{averageTimeSpentInTrafficSec}} s</h3>

        <h5 class="metrics-label">Traffic Flow</h5>
        <h3 class="metrics-value">{{passedVehicles}} cars</h3>
    </div>
  </div>
</div>
