.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.metrics-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.metrics-label {
  color: #E1BC4D;
  margin-left: 120px;
}

.metrics-value {
  border-radius: 5px;
  border-width: 2px;
  margin-left: 120px;
}

h3 {
  margin-bottom: 20px;
}

.logo {
  width: 400px;
  height: 400px;
}
